.back{
    background-image: url('../Fotos/ColinaTr.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.btn{
    border: none;
    background-color: transparent;
    padding-top: 10px;
}
.btn:hover{
    cursor: pointer;
}
.title{
    font-size: 45px;
}
.img{
    width: 90%;
    height: 90%;
    border-radius: 200px;
}
.imgColumn{
    text-align: center;
    grid-column: 1; /* La imagen se ubica en la primera columna */
}
.details{
    text-align: center;
    grid-column: 2; /* Los detalles se ubican en la segunda columna */
    font-size: 20px;
    font-weight: bolder;
}